.contact-top{
    background-image: url("./images/contact-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
}
#email, #message, #name{
    background-color: transparent;
    color: white;
}

footer{
    text-align: center;
    padding-top: 40px;
}

#name{
    width: 55%;
    margin-left: 40%;
}
#email{
    width: 55%;
    margin-left: -35%;
}
#message{
    width: 55%;
}